@tailwind base;
@tailwind components;
@tailwind utilities;

.myinput {
    outline: 0;
    border-width: 0 0 1px;
    border-color: gray
}

hr {
    border: none;
    height: 1px;
    background: gray;
    margin-bottom: 30px;
}

.image_cut::after {
    content: "";
    position: relative;
    top: 93%;
    left: 0;
    height: 100%;
    width: 100%;
    background: red;
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    transform: rotate(-50deg);
}

.bg_table {
    background-color: #E1F5FC;
}

.background {
    width: 100px;
    height: 50px;
    padding: 0;
    margin: 0;
  }
  
  .line {
    width: 112px;
    height: 47px;
    border-bottom: 1px solid red;
    transform: translateY(-20px) translateX(5px) rotate(27deg);
    position: absolute;
    z-index: -1;
  }
  
  .background>div {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .bottom {
    position: absolute;
    bottom: 1px;
    left: 1px;
  }
  
  .top {
    position: absolute;
    top: 1px;
    right: 1px;
  }

.table_cells {
    empty-cells: show;
}
